@import "/src/variables.scss";

h3 {
    padding: 2em 2em 0.5em 2em;
    font-size: 1.5em;
    font-weight: 400;
  }

p {
    padding: 1em 5em 0em 5em;
}

img{
    height: 10em;
    width: auto;
    margin: 1em;
    border-radius: 5%;
}