@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$font-primary: 'Fira Code', monospace;

.App {
  font-family: $font-primary;
  text-align: center;
}

