@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$font-primary: 'Fira Code', monospace;
$primary: #7CACD9;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}