@import "/src/variables.scss";

h2{
    padding: 1em;
}

.whoami__content{
    display: flex;
    flex-direction: row;
}

img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 1em;
    transition: ease-in-out 0.5s;
    pointer-events: none;
}

img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}